{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set characteristic = value.characteristic %}
{% set group = characteristic.group %}
{% set groupHandle = characteristic.group.handle %}
{% set isNewValue = value.id ? false : true %}

{% block header %}
    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
        {{ block('contextMenu') }}
    </div>
    <div class="flex">
        {{ block('actionButton') }}
    </div>
{% endblock %}

{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a></li>
                <li><a class="formsubmit"
                       data-redirect="{{ (nextValueUrl~'#')|hash }}">{{ "Save and add another"|t('app') }}</a></li>
            </ul>
            {% if not isNewValue %}
                <hr>
                <ul>
                    <li><a class="formsubmit error" data-action="characteristic/characteristic-values/delete-value"
                           data-confirm="{{ 'Are you sure you want to delete this characteristic value?'|t('characteristic') }}"
                           data-redirect="{{ 'characteristic#'|hash }}">{{ 'Delete'|t('app') }}</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block content %}
    {{ actionInput('characteristic/characteristic-values/save-value') }}
    {{ redirectInput('characteristics/'~groupHandle~'/'~characteristic.id) }}
    {% include 'characteristic/characteristics/_partials/_edit-value-fields' %}
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {{ forms.lightswitchField({
            name: 'idempotent',
            label: 'Idempotent'|t('characteristic'),
            instructions: 'This is a "skip" value - cannot be applied'|t('characteristic'),
            on: value.idempotent,
        }) }}
    </div>
    {% if value.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Date Created"|t('app') }}</h5>
                <div class="value">{{ value.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
                <div class="value">{{ value.dateUpdated|datetime('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}