{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}

{% set groupHandle = group.handle %}
{% set isNewCharacteristic = characteristic.id ? false : true %}

{% block header %}
    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
        {{ block('contextMenu') }}
    </div>
    <div class="flex">
        {{ block('actionButton') }}
    </div>
{% endblock %}

{% block actionButton %}
    {% if not isNewCharacteristic %}
        <a class="btn" href="{{ cpUrl('characteristics/' ~ groupHandle ~ '/' ~ characteristic.id ~ '/new') }}">Create
            Value</a>
    {% endif %}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a></li>
                <li><a class="formsubmit"
                       data-redirect="{{ (continueEditingUrl~'/new')|hash }}">{{ "Save and add value"|t('characteristic') }}</a>
                </li>
                <li><a class="formsubmit"
                       data-redirect="{{ (nextCharacteristicUrl~'#')|hash }}">{{ "Save and add another"|t('app') }}</a>
                </li>
            </ul>
            {% if not isNewCharacteristic %}
                <hr>
                <ul>
                    <li><a class="formsubmit error" data-action="characteristic/characteristics/delete-characteristic"
                           data-confirm="{{ 'Are you sure you want to delete this characteristic?'|t('app') }}"
                           data-redirect="{{ ('characteristics/' ~ groupHandle)|hash }}">{{ 'Delete'|t('app') }}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block content %}
    {{ actionInput('characteristic/characteristics/save-characteristic') }}
    {{ redirectInput('characteristics/'~groupHandle) }}

    {{ hiddenInput('groupId', group.id) }}
    {% if characteristic.id %}{{ hiddenInput('characteristicId', characteristic.id) }}{% endif %}
    {% if characteristic.id %}
        <div id="overview">
            {% if characteristic.id %}
                {% set values = characteristic.values.all() %}
                <h2>All Values</h2>

                {% include 'characteristic/characteristics/_partials/elementvalueindex' %}

                {% set relatedElements = characteristic.relatedElements.all() %}
                <h2>Elements</h2>
                <table class="data fullwidth collapsible">
                    <thead>
                    <tr>
                        <th class="thin">{{ "ID" }}</th>
                        <th>{{ "Title" }}</th>
                        <th>{{ "Value" }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for relatedElement in relatedElements %}
                        {% set links = relatedElement.characteristicLinks(characteristic) %}
                        <tr>
                            <td>{{ relatedElement.id }}</td>
                            <td><a target="_blank" href="{{ relatedElement.getCpEditUrl() }}">{{ relatedElement.title }}
                            </td>
                            </td>
                            <td>{{ links[0].characteristicValue.value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% endif %}
    <div id="fields" class="{% if characteristic.id %}hidden{% endif %}">
        {% set tabs = characteristic.getFieldLayout().getTabs() %}
        {% if not characteristic.id %}
            {{ forms.textField({
                label: "Title"|t('app'),
                id: 'title',
                name: 'title',
                value: characteristic.title,
                errors: characteristic.getErrors('title'),
                first: true,
                autofocus: true,
                required: true,
                maxlength: 255
            }) }}
        {% endif %}
        {% if tabs|length %}
            {% include "_includes/fields" with {
                fields: tabs[0].getFields(),
                element: characteristic,
            } only %}
        {% endif %}
    </div>
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% if characteristic.id %}
            {{ forms.textField({
                label: "Title"|t('app'),
                id: 'title',
                name: 'title',
                value: characteristic.title,
                errors: characteristic.getErrors('title'),
                first: true,
                autofocus: true,
                required: true,
                maxlength: 255
            }) }}
        {% endif %}
        {{ forms.textField({
            label: "Handle"|t('app'),
            id: 'handle',
            name: 'handle',
            autocorrect: false,
            autocapitalize: false,
            value: characteristic.handle,
            placeholder: "Enter handle"|t('app'),
            errors: (characteristic.getErrors('handle'))
        }) }}

        {{ forms.lightswitchField({
            name: 'allowCustomOptions',
            label: 'Allow custom options'|t('characteristic'),
            on: characteristic.allowCustomOptions,
        }) }}

        {{ forms.lightswitchField({
            name: 'required',
            label: 'Required'|t('characteristic'),
            on: characteristic.required,
        }) }}

        {{ forms.textField({
            label: "Maximum Values"|t('characteristic'),
            id: 'maxValues',
            name: 'maxValues',
            autocorrect: false,
            autocapitalize: false,
            value: characteristic.maxValues,
            placeholder: "Unlimited"|t('app'),
            type: 'number',
            errors: (characteristic.getErrors('maxValues')|merge(characteristic.getErrors('maxValues')))
        }) }}
    </div>

    {% if characteristic.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Date Created"|t('app') }}</h5>
                <div class="value">{{ characteristic.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
                <div class="value">{{ characteristic.dateUpdated|datetime('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% if not characteristic.handle %}
    {% js %}
        window.handleGenerator = new Craft.HandleGenerator('#title', '#handle');
    {% endjs %}
{% endif %}
