{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Characteristic plugin for Craft CMS 3.x
 *
 * Characteristics Field Input
 *
 * @author    Venveo
 * @copyright Copyright (c) 2019 Venveo
 * @link      https://www.venveo.com
 * @package   Characteristic
 * @since     1.0.0
 */
#}
{% set scriptTagOptions = {
    'depends': [
        'venveo\\characteristic\\assetbundles\\characteristicasset\\CharacteristicAsset'
    ],
} %}
{{ craft.characteristic.register('src/js/app.ts', false, scriptTagOptions) }}

{{ hiddenInput(name, '') }}
{% set characteristicData = [] %}

{% set canEditCharacteristics = currentUser.can('editCharacteristicGroup:' ~ group.uid) %}

{# @var characteristic \venveo\characteristic\elements\Characteristic #}
{% for characteristic in characteristics %}
{#    {% dd characteristic.values[0] %}#}
    {% set valueData = characteristic.values|map(value => {
        id: value.id,
        idempotent: value.idempotent ? true : false,
        value: value.value
    }) %}

    {% set characteristicData = characteristicData|merge([{
        id: characteristic.id,
        title: characteristic.title,
        cpEditUrl: canEditCharacteristics ? characteristic.cpEditUrl : null,
        handle: characteristic.handle,
        required: characteristic.required,
        maxValues: characteristic.maxValues,
        values: valueData,
        allowCustomOptions: characteristic.allowCustomOptions
    }]) %}
{% endfor %}

{% set serializedBlockData = [] %}
<div class="{{ id }}-defaults">
{% for block in blocks %}
    {% set characteristicInputName = name ~ '['~block.id~'][characteristic]' %}
    {{ hiddenInput(characteristicInputName, block.characteristic.id) }}
    {% set valueData = [] %}
    {% for value in block.values.all() %}
        {% set valueData = valueData|merge([value.id]) %}
        {% set valueInputName = name|namespaceInputName ~ '['~block.id~'][values][]' %}
        {{ hiddenInput(valueInputName, value.id) }}
    {% endfor %}

    {% set blockData = {
        id: block.id,
        isNew: false,
        characteristicId: block.characteristic.id,
        values: valueData
    } %}
    {% set serializedBlockData = serializedBlockData|merge([blockData]) %}
{% endfor %}
</div>

<div class="vue-characteristics-input" id="{{ id }}"></div>
{% set fieldSettings = {
    mountPoint: '#' ~ id|namespaceInputId,
    defaultsContainer: '.'~id ~'-defaults',
    name: name|namespaceInputName,
    characteristics: characteristicData,
    blocks: serializedBlockData
} %}
{% do craft.app.view.registerJsVar('fieldSettings', fieldSettings) %}
{% js on load %}
var field = new Craft.CharacteristicsField({{ fieldSettings|json_encode|raw }});
{% endjs %}
