{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Characteristic plugin for Craft CMS 3.x
 *
 * Characteristics Field Input
 *
 * @author    Venveo
 * @copyright Copyright (c) 2019 Venveo
 * @link      https://www.venveo.com
 * @package   Characteristic
 * @since     1.0.0
 */
#}
{{ hiddenInput(name, '') }}
{% set characteristicData = [] %}

{% set canEditCharacteristics = currentUser.can('editCharacteristicGroup:' ~ group.uid) %}

{# @var characteristic \venveo\characteristic\elements\Characteristic #}
{% for characteristic in characteristics %}
    {% set valueData = [] %}
    {# @var value \venveo\characteristic\elements\CharacteristicValue #}
    {% for value in characteristic.values %}
        {% set valueData = valueData|merge([{
            id: value.id,
            idempotent: value.idempotent ? true : false,
            value: value.value
        }]) %}
    {% endfor %}
    {% set characteristicData = characteristicData|merge([{
        id: characteristic.id,
        title: characteristic.title,
        cpEditUrl: canEditCharacteristics ? characteristic.cpEditUrl : null,
        handle: characteristic.handle,
        required: characteristic.required,
        maxValues: characteristic.maxValues,
        values: valueData,
        allowCustomOptions: characteristic.allowCustomOptions
    }]) %}
{% endfor %}

{% set serializedBlockData = [] %}

<div class="vue-characteristics-input">
    <div class="defaults">
        {% for block in blocks %}
            {% set characteristicInputName = name|namespaceInputName ~ '['~block.id~'][characteristic]' %}
            {{ hiddenInput(characteristicInputName, block.characteristic.id) }}
            {% set valueData = [] %}
            {% for value in block.values.all() %}
                {% set valueData = valueData|merge([value.id]) %}
                {% set valueInputName = name|namespaceInputName ~ '['~block.id~'][values][]' %}
                {{ hiddenInput(valueInputName, value.id) }}
            {% endfor %}

            {% set blockData = {
                id: block.id,
                isNew: false,
                characteristic: block.characteristic.id,
                values: valueData
            } %}
            {% set serializedBlockData = serializedBlockData|merge([blockData]) %}
        {% endfor %}
    </div>
    <characteristic-input>
        <template v-slot:blocks>
            <characteristic-link-block v-for="block in blocks"
                                       :key="block.id"
                                       :characteristic-id="block.characteristic"
                                       :block-id="block.id"
                                       :value-ids="block.values"
                                       :is-new="block.isNew"
            />
        </template>
        <template v-slot:controls>
            <characteristic-controls :characteristics="characteristics"/>
        </template>
    </characteristic-input>
</div>
{% js %}
var field = new Craft.CharacteristicsField({
    container: '.vue-characteristics-input',
    name: {{ name|namespaceInputName|json_encode|raw }},
    characteristics: {{ characteristicData|json_encode|raw }},
    blocks: {{ serializedBlockData|json_encode|raw }}
    });
{% endjs %}
